

/* ==========================================================================
   Autor: Jose Alberto Martinez Villegas 
   ========================================================================== */

* {
  padding: 0;
  margin: 0;
}
/*///////////////////////// Estilos index.html /////////////////////////*/
#login{
    /*background-image: url(../recursos/fondo.jpg);
*/}
nav{
    position: fixed;
    top: 0;
}
.colum_izquierda{
    position: fixed;
    top: 0;   
    
}
.contenedor-principal{
    margin-top: 4.1em;
}
.font-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #F5F5F5;
}

.banner .img-banner{
    padding: 100px 100px 100px 100px;
      padding: 0;
  margin: 0;
}

h1{
    font-family: 'apex_newmedium';
    font-size: 40px;
    margin-top: 0.25em;
    text-align: center;
}
h2{
    font-family: 'apex_newbook';
    color: #472C85;
    font-size: 30px;text-align: center;
}
h3{
    font-family: 'apex_newbook';
    color: #888888;
    font-size: 24px;
}

h4{
    font-family: 'apex_newlight';
    color: #472C85;
    font-size: 30px;
}

.bienvenida{
    text-align: center;
}

.descripcion{
    padding: 0;
    top: 0;
    color: #888888;
    font-size: 20px;
    font-family: 'apex_newmedium';


}

.login{
        font-family: 'apex_newbook';
    color: #472C85;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    width: 350px;
    border-radius: 4px;
}

/*#####################################################################3*/

.registro{
        font-family: 'apex_newbook';
    color: #472C85;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    width: 350px;
    border-radius: 4px;


}



